.carte {
  background-color: #000;
  color: #fff;
}
h3 {
  line-height: 1.6em;
}
.enteteboisson {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.titreboissons{
  text-align: center;
  font-weight: bold;
  padding: 0.5em;
  font-size: 3em;
  color: #aa2b26;
  text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff,
  0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff,
  0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
  font-family: 'Lalezar', cursive;
}
.soustitreboisson {
  text-align: center;
  color: #aa2b26;
  text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff,
  0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff,
  0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
  font-family: 'Lalezar', cursive;
}
.superconteneur
{
  background-image: url(../img/bar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 50% 50%;
}
.conteneurboissons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#divboissons {
  background-color: #000;
  width: 80%;
  margin: 0.5em;
  padding: 1em;
  border: 0.3em solid #fff;
  border-radius: 3px;
}
#divboissons h2{
  font-weight: bold;
  padding: 0.5em;
}
